.pdpHeroTitle {
	margin: 0;

	font-size: var(--font-size-mobile);
	font-weight: var(--font-weight);
	font-family: var(--font-family);
	text-align: center;
}

@media screen and (min-width: 1024px) {
	.pdpHeroTitle {
		font-size: var(--font-size-desktop);
	}
}
